body {
    padding: 25px;
    background-color: rgb(43, 43, 43);
    color: rgb(180, 180, 180);
    font-size: 25px;
    font-family: monospace;

}
.topnav {
background-color: rgb(83, 83, 83);
overflow: hidden;
border-radius: 30px;
margin: 15px 300px;
}
.topnav a {
float: left;
color: #c5fbff;
text-align: center;
padding: 15px 30px;
text-decoration: none;
font-size: 25px;
font-family: monospace;
border-radius: 30px;
}
.topnav a:hover {
color: rgb(255, 151, 151);
}
.topnav a.active {
color: rgb(255, 255, 255);
}
h2 {
font-family: monospace;
font-size: 25px;
}