@font-face {
  font-family: quicksand;
  src: url(Quicksand/Quicksand-VariableFont_wght.ttf)
}

body {
    padding: 25px;
    background-color: rgb(43, 43, 43);
    color: rgb(180, 180, 180);
    font-size: 25px;
    font-family: quicksand, monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: justify;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(51, 51, 51);
}
body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 100px grey;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 300vh;
}

.main-container > .gradient {
  flex: 1;
}

.gradient1 {
  background: linear-gradient(to bottom right, rgb(43, 43, 43) 50%, rgba(252, 252, 252, 0.747) 50.9%);
}

.gradient2 {
  background: linear-gradient(to bottom left, rgb(252, 252, 252, 0.747) 50%, rgb(43, 43, 43) 50.9%)
}

.first-section {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 2rem;
}

.paragraph-focus {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 3rem;
}

span {
  color:rgba(24, 201, 255, 0.863);
}

.about-me {
  width: 65vw;
}

.first-row {
  display: flex;
  height: 1.5rem;
  justify-content: space-between;
}

.links > div {
  height: 100%;
  padding: 4px;
}

.links {
  display: flex;
}

.second-section {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 252, 252, 0.747);
  color:rgba(0, 0, 0, 0.452);
}

.projects-section {
  width: 65vw;
}

.projects-section > p {
  display: flex;
  justify-content: center;
}

.project > div {
  display: flex;
  justify-content: center;
}

.project h3 {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.project p {
  font-size: 1.75rem;
}

.project img {
  height: 20rem;
  width: 20rem;
  margin-right: 36px;
}

a {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
}

a:link,
a:visited,
a:hover,
a:active
 {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: rgba(223, 223, 223, 0.74);
}

a:hover, a:active {
  color: rgba(24, 201, 255, 0.863);
}

.first-row > div {
  height: 100%;
  padding: 0 5px;
}

.third-section {
  font-size: 3rem;
  flex: 2;
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;
}

.contact > div {
  display: flex;
  justify-content: center;
  padding: 24px 0px;
}

.contact > div:nth-child(1) {
  font-weight: bold;
}

svg:hover {
  fill: rgba(24, 201, 255, 0.863);
}

.links.bigger {
  height: 48px;
  width: 48px;
}

