@font-face {
  font-family: quicksand;
  src: url(Quicksand/Quicksand-VariableFont_wght.ttf)
}

body {
    padding: 25px;
    background-color: rgb(43, 43, 43);
    color: rgb(180, 180, 180);
    font-size: 25px;
    font-family: quicksand, monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: grey;
}
body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 100px rgb(51, 51, 51);
}

.main-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

footer {
  height: min(5vh, 10%);
  position: relative;
  display: grid;
  justify-items: center;
  justify-content: right;
  align-items: center;
  column-gap: 6px;
  grid-template: 5vh / 75vw 4vw 8vw 8vw;
  background-color: rgba(240, 255, 255, 0.123);
}


a {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
}

a:link,
a:visited,
a:hover,
a:active
 {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: rgba(0, 153, 255, 0.74);
}

a:hover, a:active {
  color: rgba(130, 203, 252, 0.863);
}

footer > div {
  height: 100%;
}

.github img {
  height: 100%;
}

.linkedin img {
  height: 50%;
}

.github {
  grid-column: 3 / 4;
}

.cv {
  grid-row: 1;
  grid-column: 2 / 3;
}
